<app-header [pageTitle]="pageTitle"></app-header>
<ion-content>
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card  class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Conférence</ion-card-title>
    </ion-card-header>
    <ion-card-content>Date de début - Date de fin</ion-card-content>
  </ion-card>

  <ion-button size="full" color="primary" [routerLink]="['/sessions']"> Voir les sessions </ion-button>
  <ion-button size="full" color="primary" [routerLink]="['/presentateurs']" > Voir les présentateurs</ion-button>
  
</ion-content>
