<app-header [pageTitle]="pageTitle"></app-header>
<ion-content *ngIf="session">
  <img *ngIf="session.image" alt="session" [src]="baseUrl + session.image" />
  <ion-content>
    <ion-label>
      <h1>{{session.title}}</h1>
      <h2>{{session.category}}</h2>
      <p>{{session.description}}</p>
      <h3>{{session.type}}</h3>
    </ion-label>
    <ion-list *ngIf="presentateurs">
        <ion-label class="ion-text-center">
          <h1>Les Présentateurs</h1>
        </ion-label>
        <ion-item *ngFor="let presentateur of presentateurs " [routerLink]="['/presentateur', presentateur.id]">
              <ion-avatar>
                <img [src]="baseUrl + presentateur.photoUrl" alt="photo presentateur">
              </ion-avatar>
          <ion-label>
            {{ presentateur.name}}
          </ion-label>
        </ion-item>
      </ion-list>
        <app-modal></app-modal>
  </ion-content>
</ion-content>
